@model car_dealership_ASP.NET_Core_MVC.Models.CarViewModel


<h2>Filtre Sonuçları</h2>

@if (ViewBag.FilteredCars != null && ViewBag.FilteredCars.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Image</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Year</th>
                <th>Gear Type</th>
                <th>Fuel Type</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in ViewBag.FilteredCars)
            {
                <tr>
                    <td>
                        @if (car.Images != null && car.Images.Count>0)
                        {
                            foreach (var img in car.Images)
                            {
                                <img src="@img.ImgUrl" alt="Car Image" width="80" style="margin-right:5px;" />
                            }
                        }
                        else
                        {
                            <span>Resim Yok</span>
                        }
                    </td>
                    <td>@car.Brand</td>
                    <td>@car.Model</td>
                    <td>@car.Year</td>
                    <td>@car.GearType</td>
                    <td>@car.FuelType</td>
                    <td>@car.Price.ToString("N0") ₺</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No results found.</p>
}
